<% if @user.errors.any? %>
 <%= @user.errors.count %>error prohibited this obj from being saved:
 <ul>
  <% @user.errors.full_messages.each do |message| %>
   <li><%= message %></li>
  <% end %>
 </ul>
<% end %>

<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
   <%= form_with model: @user do |f| %>
    </br>
    <h2>User info</h2>
     <div class="form-group">
      <label>Name</label>
       <%= f.text_field :name, class: "form-control" %>
     </div>
     <div class="form-group">
      <label>Image</label>
       <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
     </div>
     <div class="form-group">
      <label>Introduction</label>
       <%= f.text_area :introduction, class: "form-control" %>
     </div>
     <div class="form-group">
       <%= f.submit 'Update User', class: "btn btn-secondary btn-block" %>
     </div>
   <% end %>
  </div>
 </div>
</div>